<configuration>

  <appSettings>
    <add key="connString" value="server=localhost;User ID=webuser;Pwd=N856x4H;database=kavalkad" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@company.se">
        <network host="mail.company.se" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>

    <compilation debug="true" />

    <trace enabled="false"
       localOnly="false"
       pageOutput="true"
       requestLimit="10"
       traceMode="SortByTime" 
     />
     
    <httpModules> 
      <add name="UrlRewriter" type="NFN.UrlRewriter" />
    </httpModules> 

    <httpHandlers>
      <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
    </httpHandlers>
    
  </system.web>

</configuration>
